@model IList<Ced.Web.Models.Notification.NotificationListItemModel>

<div class="table-responsive">
    <table id="tblNotifs" class="table table-striped borderless table-hover">
        <thead>
        <tr>
            <th class="no-sort">
            </th>
            <th class="no-sort">
            </th>
            <th class="no-sort">
            </th>
        </tr>
        </thead>
        <tbody>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        <i class="fa fa-@item.FaIcon fa-2x @item.TextClass"></i>
                    </td>
                    <td>
                        @Html.Raw(item.Description)<br />
                    </td>
                    <td class="nowrap">
                        <time class="timeago" datetime="@item.CreatedOn.ToUniversalTime().ToString(@"yyyy-MM-dd HH:mm:ssZ")"></time>
                    </td>
                </tr>
            }
        }
        </tbody>
    </table>
</div>
    
<script>
    $(document).ready(function () {
        $("time.timeago").timeago();
    });
</script>

<script type="text/javascript">
    $(function () {
        $('#tblNotifs').dataTable({
            "iDisplayLength": 100,
            "order": [],
            "oLanguage": {
                "sSearch": "Quick filter:"
            }
        });
    });
</script>