<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="CedContext" connectionString="Data Source=localhost;Initial Catalog=CedIntegration;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!-- Common -->
    <add key="BaseLanguageCode" value="en-gb" />
    <add key="ApplicationAbsolutePath" value="xxx" />
    <add key="IsLocal" value="true" />
    <add key="IsTest" value="false" />
    <add key="CedLogoUrl" value="https://xxx.blob.core.windows.net/ced/logo-big.png" />
    <add key="JwtCookieName" value="CedJwtLocal" />
    <add key="AuthCookieLifeSpanInMins" value="1440" />
    <add key="ErrorLogFilePath" value="D:\errors.txt" />
    <!-- Single Sign-On -->
    <add key="ClientId" value="xxx" />
    <add key="RedirectUri" value="https://localhost:44369/" />
    <add key="Tenant" value="common" />
    <add key="Authority" value="https://login.microsoftonline.com/{0}/v2.0" />
    <!--Web Api-->
    <add key="WebApiKey" value="xxx" />
    <!-- Notification -->
    <add key="EditionExistence" value="90,75" />
    <add key="GeneralInfoCompleteness" value="8,3" />
    <add key="PostShowMetricsInfoCompleteness" value="12,19,22" />
    <add key="PostShowMetricsInfoCompleteness2" value="70,90" />
    <add key="EditionNotification_DeviationInDays" value="0" />
    <add key="PrimaryDirectorNotifications" value="true" />
    <add key="PrimaryDirectorNotifications_UseMockRecipients" value="true" />
    <add key="TrackDraftEditionStatusChange" value="true" />
    <add key="TrackDraftEditionStatusChange_UseMockRecipients" value="true" />
    <add key="TrackEditionUpdate" value="true" />
    <add key="TrackEditionUpdate_UseMockRecipients" value="true" />
    <add key="TrackEditionNameUpdate" value="true" />
    <add key="TrackEditionNameUpdate_UseMockRecipients" value="true" />
    <add key="TrackEditionNameUpdate_AdditionalRecipients" value="xxx@xxx" />
    <add key="TrackEditionLocationUpdate" value="true" />
    <add key="TrackEditionLocationUpdate_UseMockRecipients" value="true" />
    <add key="CloningAllowed" value="true" />
    <add key="RemoveActorUserFromNotificationRecipients" value="false" />
    <add key="EditionLifeSpan" value="99999" />
    <add key="MinFinancialYear" value="2015" />
    <add key="CohostEditionsAcceptanceNumberOfDays" value="5" />
    <add key="TaskSchedulerSecretKey" value="iUhCr86sKZzu69cGFoNOowiV189UN6G1" />
    <!-- SMTP -->
    <add key="HelpDeskUserName" value="xxx@xxx" />
    <add key="AdminEmails" value="xxx@xxx" />
    <add key="MarketingAdminEmails" value="xxx@xxx" />
    <!-- AzureStorage -->
    <add key="AzureStorageUri" value="https://xxx.blob.core.windows.net/" />
    <add key="ContainerName" value="cedtest" />
    <add key="ImageBlobSubdirectory" value="edition/images/" />
    <add key="FileBlobSubdirectory" value="edition/files/" />
    <add key="ProfilePicBlobSubdirectory" value="user/images/" />
    <add key="StorageAccountName" value="xxx" />
    <add key="StorageAccountKey" value="xxx" />
    <!-- Applications -->
    <add key="AppId-CED" value="2" />
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.1.0" newVersion="5.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Tokens" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.1.0" newVersion="5.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Protocols.OpenIdConnect" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.1.0" newVersion="5.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Protocols" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.1.0" newVersion="5.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>