<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <connectionStrings>
    <add name="CedContext" connectionString="Data Source=localhost;Initial Catalog=xxx;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="Ced.DWStagingEntities" connectionString="metadata=res://*/Ced.DWStagingDataModel.csdl|res://*/Ced.DWStagingDataModel.ssdl|res://*/Ced.DWStagingDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=xxx;initial catalog=xxx;persist security info=True;user id=xxx;password=xxx;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <!-- Common -->
    <add key="BaseLanguageCode" value="en-gb" />
    <add key="ApplicationAbsolutePath" value="xxx" />
    <add key="IsLocal" value="true" />
    <add key="IsTest" value="false" />
    <add key="CedLogoUrl" value="https://xxx.blob.core.windows.net/ced/logo-big.png" />
    <add key="JwtCookieName" value="CedJwtLocal" />
    <add key="AuthCookieLifeSpanInMins" value="1440" />
    <add key="ErrorLogFilePath" value="D:\errors.txt" />
    <add key="QuickStartGuideFilePath" value="/content/files/ced-quick-start-guide.pdf" />
    <!-- Single Sign-On -->
    <add key="ClientId" value="xxx" />
    <add key="RedirectUri" value="https://localhost:44369/" />
    <add key="Tenant" value="xxx.onmicrosoft.com" />
    <add key="Authority" value="https://login.microsoftonline.com/{0}/v2.0" />
    <!--Web Api-->
    <add key="WebApiKey" value="xxx" />
    <!-- Notification -->
    <add key="EditionExistence" value="90,75" />
    <add key="GeneralInfoCompleteness" value="8,3" />
    <add key="PostShowMetricsInfoCompleteness" value="12,19,22" />
    <add key="PostShowMetricsInfoCompleteness2" value="70,90" />
    <add key="EditionNotification_DeviationInDays" value="0" />
    <add key="PrimaryDirectorNotifications" value="true" />
    <add key="PrimaryDirectorNotifications_UseMockRecipients" value="true" />
    <add key="TrackDraftEditionStatusChange" value="true" />
    <add key="TrackDraftEditionStatusChange_UseMockRecipients" value="true" />
    <add key="TrackEditionUpdate" value="true" />
    <add key="TrackEditionUpdate_UseMockRecipients" value="true" />
    <add key="TrackEditionNameUpdate" value="true" />
    <add key="TrackEditionNameUpdate_UseMockRecipients" value="true" />
    <add key="TrackEditionNameUpdate_AdditionalRecipients" value="xxx@xxx" />
    <add key="TrackEditionLocationUpdate" value="true" />
    <add key="TrackEditionLocationUpdate_UseMockRecipients" value="true" />
    <add key="CloningAllowed" value="true" />
    <add key="RemoveActorUserFromNotificationRecipients" value="false" />
    <add key="EditionLifeSpan" value="99999" />
    <add key="MinFinancialYear" value="2015" />
    <add key="CohostEditionsAcceptanceNumberOfDays" value="5" />
    <add key="TaskSchedulerSecretKey" value="xxx" />
    <!-- SMTP -->
    <add key="HelpDeskUserName" value="xxx@xxx" />
    <add key="AdminEmails" value="xxx@xxx" />
    <add key="MarketingAdminEmails" value="xxx@xxx" />
    <add key="NewEventNotificationRecipients" value="xxx@xxx" />
    <!-- AzureStorage -->
    <add key="AzureStorageUri" value="https://xxx.blob.core.windows.net/" />
    <add key="ContainerName" value="cedtest" />
    <add key="ImageBlobSubdirectory" value="edition/images/" />
    <add key="FileBlobSubdirectory" value="edition/files/" />
    <add key="ProfilePicBlobSubdirectory" value="user/images/" />
    <add key="StorageAccountName" value="xxx" />
    <add key="StorageAccountKey" value="xxx" />
    <!-- Applications -->
    <add key="AppId-CED" value="2" />
    <add key="log4net.Internal.Debug" value="true" />
    <add key="vs:EnableBrowserLink" value="false" />
    <add key="elmah.mvc.disableHandler" value="false" />
    <add key="elmah.mvc.disableHandleErrorFilter" value="false" />
    <add key="elmah.mvc.requiresAuthentication" value="false" />
    <add key="elmah.mvc.IgnoreDefaultRoute" value="false" />
    <add key="elmah.mvc.allowedRoles" value="*" />
    <add key="elmah.mvc.allowedUsers" value="*" />
    <add key="elmah.mvc.route" value="elmah" />
    <add key="elmah.mvc.UserAuthCaseSensitive" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="MvcMailer.BaseURL" value="" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" maxRequestLength="1048576" />
    <customErrors mode="Off" />
    <!--<customErrors mode="On" defaultRedirect="~/Error/Error">
      <error statusCode="401" redirect="~/Unauthorized" />
      <error statusCode="404" redirect="~/Error/NotFound" />
    </customErrors>-->
    <httpModules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" />
    </httpModules>
    <httpHandlers>
      <add verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" />
    </httpHandlers>
    <!--<globalization culture="en-GB" uiCulture="en-GB" />-->
    <!--<globalization culture="tr-TR" uiCulture="tr-TR" />-->
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler" />
    </modules>
  </system.webServer>
  <log4net debug="true">
    <appender name="SmtpAppender" type="log4net.Appender.SmtpAppender">
      <to value="xxx@xxx" />
      <from value="xxx@xxx" />
      <subject type="log4net.Util.PatternString" value="CED Log (Local)" />
      <smtpHost value="smtp.gmail.com" />
      <authentication value="Basic" />
      <port value="587" />
      <username value="xxx@xxx" />
      <password value="xxx" />
      <bufferSize value="1" />
      <EnableSsl value="true" />
      <lossy value="false" />
      <threshold value="INFO" />
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="INFO" />
        <levelMax value="ERROR" />
      </filter>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%utcdate [%level] - %message%newline%exception" />
      </layout>
    </appender>
    <appender name="SmtpAppender2" type="log4net.Appender.SmtpAppender">
      <to value="xxx@xxx" />
      <from value="xxx@xxx" />
      <subject type="log4net.Util.PatternString" value="CED Log 2 (Local)" />
      <smtpHost value="smtp.gmail.com" />
      <authentication value="Basic" />
      <port value="587" />
      <username value="xxx@xxx" />
      <password value="xxx" />
      <bufferSize value="1" />
      <EnableSsl value="true" />
      <lossy value="false" />
      <threshold value="FATAL" />
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="FATAL" />
        <levelMax value="FATAL" />
      </filter>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%utcdate [%level] - %message%newline%exception" />
      </layout>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="SmtpAppender" />
      <appender-ref ref="SmtpAppender2" />
    </root>
  </log4net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.1.0" newVersion="5.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Protocols" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.1.0" newVersion="5.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Tokens" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.1.0" newVersion="5.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Logging" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.1.0" newVersion="5.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Protocols.OpenIdConnect" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.1.0" newVersion="5.2.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="xxx@xxx">
        <network host="smtp.gmail.com" port="587" userName="xxx@xxx" password="xxx" enableSsl="true" defaultCredentials="false" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add name="textWriterTraceListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="C:\tmp\log4net.txt" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>