<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <connectionStrings>
    <add name="CedContext"
         connectionString="Server=xxx;Initial Catalog=Ced.Staging;Persist Security Info=False;User ID=xxx;Password=xxx;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=True;Connection Timeout=30;"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="Ced.DWStagingEntities"
         connectionString="Server=xxx;Initial Catalog=Ced.DWStaging;Persist Security Info=False;User ID=xxx;Password=xxx;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=True;Connection Timeout=30;"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
  <appSettings>
    <add key="IsLocal"
         value="false"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="IsTest"
         value="true"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ApplicationAbsolutePath"
         value="https://xxx-staging.azurewebsites.net"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <!-- Single Sign-On -->
    <add key="ClientId"
         value="xxx"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="RedirectUri"
         value="https://xxx-staging.azurewebsites.net"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="Tenant"
         value="xxx.onmicrosoft.com"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
  <system.web>
    <!--<compilation xdt:Transform="RemoveAttributes(debug)" />-->
    <customErrors mode="Off" xdt:Transform="Replace" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
    <!--<customErrors mode="Off" />-->
  </system.web>
</configuration>