@*@model CurrencyCodeModel*@

<div class="input-group-btn">
    <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" type="button">--- <span class="caret"></span></button>
    <ul class="dropdown-menu pull-right" style="-moz-min-width: 50px !important; -ms-min-width: 50px !important; -o-min-width: 50px !important; -webkit-min-width: 50px !important; min-width: 50px !important">
        <li><a href="">EUR</a></li>
        <li><a href="">GBP</a></li>
        <li><a href="">RUB</a></li>
        <li><a href="">TRY</a></li>
    </ul>
</div>