@model Ced.Web.Models.ErrorModel

@{
    Layout = "~/Views/Shared/_Layout_Blank.cshtml";
    ViewBag.Title = "Error - 500";
}

<div class="error-container text-center">
    <i class="pe-7s-way text-success big-icon"></i>
    <h1>500</h1>
    <strong>@(Model != null && !string.IsNullOrWhiteSpace(Model.Title) ? Model.Title : "Internal Server Error")</strong>
    <p>
        @(Model != null && !string.IsNullOrWhiteSpace(Model.Message) ? Model.Message : "The server encountered something unexpected that didn't allow it to complete the request. We apologize.")
    </p>
    <a href="" onclick="window.history.back(); return false;" class="btn btn-xs btn-success">Go back</a>
    <a href="~/" class="btn btn-xs btn-orange">Go to dashboard</a>
</div>