@model Ced.Web.Models.ErrorModel

@{
    Layout = "~/Views/Shared/_Layout_Blank.cshtml";
    ViewBag.Title = "Not Found - 404";
}

<div class="error-container text-center">
    <i class="pe-7s-way text-success big-icon"></i>
    <h1>404</h1>
    <strong>@(Model != null && !string.IsNullOrWhiteSpace(Model.Title) ? Model.Title : "Page Not Found")</strong>
    <p>
        @(Model != null && !string.IsNullOrWhiteSpace(Model.Message) ? Model.Message : "Sorry, but the page you are looking for has note been found. Try checking the URL for error, then hit the refresh button on your browser or try found something else in our app.")
    </p>
    <a href="" onclick="window.history.back(); return false;" class="btn btn-xs btn-success">Go back</a>
    <a href="~/" class="btn btn-xs btn-orange">Go to dashboard</a>
</div>